<nav class="navbar navbar-light" style="background-color: rgb(184, 242, 184);">
    <a class="navbar-brand" href="/">Dad Jokes!</a>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a href="/signup"><button class="btn btn-dark my-2 my-sm-0" type="button">Signup</button></a>
            <a href="/login"> <button class="btn btn-dark my-2 my-sm-0" type="button">Login</button></a>
        </div>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to Dad Jokes!</h1>
        <h4>Where you'll find the dadliest jokes alive</h4>
        <p>Please log in or sign up to get the jokes</p>
    </div>
</div>