<div id="home">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Dad Jokes!</a>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 list-container">
                <ul class="list-group"></ul>
            </div>
            <div class="col-8">

            </div>
        </div>

    </div>
</div>