<div id="home">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Dad Jokes!</a>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a href="/signup"><button class="btn btn-dark my-2 my-sm-0" type="button">Signup</button></a>
                <a href="/login"> <button class="btn btn-dark my-2 my-sm-0" type="button">Login</button></a>
            </div>
        </div>

    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 list-container">
                <div class="card">
                    <ul class="list-group">
                        {{#each jokes}}
                        <li class="li-jokes">
                            <button class="joke-item"><b>Joke: </b>{{this.dataValues.name}} <br>
                                <b>Genre: </b>{{this.dataValues.genre}}</button> <br>
                        </li>
                        {{/each}}

                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <h4 id="joke" class="joke">{{this.name}}</h4>
                </div>
                <br>
                <button type="button" id="punchlineBtn" class="btn btn-primary punchlineBtn">What's the
                    punchline?</button>
                <div class="card hide">
                    <h4 id="punchline" class="punchline">{{this.punchline}}</h4>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm">
                        <div id="current-ratings" class="card current-ratings">Ratings box</div>
                    </div>

                    <div class="col-sm">
                        <div class="input-group">
                            <select class="custom-select" id="your-rating"
                                aria-label="Example select with button addon">
                                <option selected>Rate this Joke!</option>
                                <option value="1">One Star</option>
                                <option value="2">Two Stars</option>
                                <option value="3">Three Stars</option>
                                <option value="4">Four Stars</option>
                                <option value="5">Five Stars</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="ratingBtn">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h4>Think you can do better?</h4>
                    </div>
                    <a type="button" id="submit" class="btn btn-primary submit" href="/submitjoke">Add a Joke!</a>
                </div>
            </div>

        </div>

    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="javascript" src="/js/index.js"></script>