<div id="home">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Dad Jokes!</a>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 list-container">
                <div class="card">
                    <ul class="list-group"></ul>
                </div>
                <button class="show-me-more">Show Me More Jokes</button>
            </div>
            <div class="col-8">
                <div class="card">
                    <h4>this is where the jokes go</h4>
                </div>
                <div class="card current-ratings">Ratings box</div>
                <div class="card your-rating">Your Rating?</div>
                <div class="card">
                    <h4>Think you can do better?</h4>
                    <button class="submit">Add a Joke!</button>
                </div>
            </div>
        </div>

    </div>
</div>