<div class="container-fluid">
    <nav class="navbar navbar-light" style="background-color: rgb(184, 242, 184);">
        <a class="navbar-brand" href="/">Dad Jokes!</a>
    </nav>
    <br>
    <div class="col">
        <div class="row justify-content-center">
            <div class="jumbotron">
                <div class="container-fluid">
                    <h1 class="display-4">Login for the Dad Jokes!</h1>
                    <form class="login">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="email" id="email-input" aria-describedby="emailHelp"
                                    placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">Please Enter Your Full Email</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label> <br>
                                <input type="password" class="password" id="password-input" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-dark" id="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>