<div class="container-fluid">
  <nav class="navbar navbar-light" style="background-color: rgb(184, 242, 184);">
    <a class="navbar-brand" href="/home">Dad Jokes!</a>
  </nav>
  <div class="col">
    <div class="row justify-content-center">
      <div class="jumbotron">
        <h1 class="display-4">Think you can do better?</h1>
        <h4>Add a Joke!</h4>
        <hr class="my-4">
        <form class="submit-joke-form">
          <h5>Setup<h5>
              <input type="text" id="joke-info" placeholder="Whats the joke?">
              <h5>Punchline<h5>
                  <input type="text" id="punchline" placeholder="Whats the punchline?">
                  <h5>And lastly... Whats the genre?<h5>
                      <input type="text" id="genre" placeholder="Enter genre here!">
                      <hr class="my-4">
                      <button class="btn btn-dark" class="btn btn-dark my-2 my-sm-0" type="submit" id="submit">Submit
                        your joke!</button>
        </form>
      </div>
    </div>
  </div>