<form>
        
<div class="joke-info">
      <input type="text" class="col-md-6" id="formGroupExampleInput" placeholder="Whats the joke?!">
    </div>
    <div class="joke-info">
        
      <input type="text" class="col-md-6" id="formGroupExampleInput2" placeholder="Nice! Whats the punchline?!">
    </div>
    <div class="joke-info"> 
            <div class="joke-info">
                <!--basic text area which gives context to genre buttons, also an added line break-->
                <h5>And lastly... Whats the genre?<h5> <br>
                <!--genre selection buttons-->
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary">
                      <input type="radio" name="options" id="option1" autocomplete="off"> Good old fashioned dad joke!
                    </label>
                    <label class="btn btn-primary">
                      <input type="radio" name="options" id="option2" autocomplete="off"> "What do you call..."
                    </label>
                    <label class="btn btn-primary">
                      <input type="radio" name="options" id="option3" autocomplete="off"> Very punny!              
                    </label>
                </div>
                  <!--submit comes after a line break for visuals-->
      <div class="btn-group-toggle" data-toggle="buttons"> <br>
        <label class="btn btn-primary">
          <input type="checkbox" > Submit your joke!
        </label>
</div>
</form>

</div>

<!--keeps footer fixed-->
<style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: black;
      color: white;
      text-align: center;
    }
    </style>
<div class="footer">
    <p>
      Designed & created by Zekarias Negassa, Isabell Danell, Alexander McDonald, Ayub Mohamud and Ethan Shook
    </p>
  </div>